name: CI
on:
  pull_request:
    types: [opened, reopened]

jobs:
  build-and-test-client:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - run: dotnet test "./COMP3404-Client" --logger "trx;LogFileName=TestResults.trx"
    - uses: actions/upload-artifact@v4
      with:
        name: TestResults
        path: ./src/Test/TestResults/TestResults.trx

