name: docfx
on:
  push:
    branches:
      - 'main'
      - 'docfx'

jobs:
  docfx:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x
    - run: dotnet workload restore "COMP3404-Client/COMP3404-Client.sln"
    - run: dotnet tool update -g docfx
    - run: docfx ./docfx.json
    - uses: JamesIves/github-pages-deploy-action@v4
