name: docfx
on:
  push:
    branches:
      - 'main'
      - 'docfx'

jobs:
  docfx:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: NUnit/docfx-action@v4.0.0
      with:
        args: "docfx.json"
    - uses: JamesIves/github-pages-deploy-action@v4
