name: Doxygen
on:
  push:
    branches:
      - 'main'

jobs:
  doxygen:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: mattnotmitt/doxygen-action@1.12.0
    - uses: peaceiris/actions-gh-pages@v4
      # If you're changing the branch from main,
      # also change the `main` in `refs/heads/main`
      # below accordingly.
      #with:
      #  github_token: ${{ secrets.GITHUB_TOKEN }}
      #  publish_dir: ./public
